SMA Zoomcamp Homework 1

In [8]:
from datetime import timedelta

import yfinance as yf
import pandas as pd

## Q1. [Index] S&P 500 Stocks Added to the Index

- Create a DataFrame with company tickers, names, and the year they were added.
- Extract the year from the addition date and calculate the number of stocks added each year.
- Which year had the highest number of additions (1957 doesn't count, as it was the year when the S&P 500 index was founded)? Write down this year as your answer (the most recent one, if you have several records).

In [ ]:
source_url_wikipedia = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
pd.read_html(source_url_wikipedia)[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [24]:
sp500_stocks = pd.read_html(source_url_wikipedia)[0]
sp500_stocks["Date added"] = pd.to_datetime(sp500_stocks["Date added"], format="%Y-%m-%d")
sp500_stocks["year_added"] = sp500_stocks["Date added"].dt.year
sp500_stocks.groupby("year_added")[["Symbol"]].count().sort_values(by="Symbol", ascending=False)

            Symbol
year_added
1957            53
2016            23
2017            23
2019            22
2008            17
2024            16
2022            16
2023            15
2021            15
2015            14
2018            14
1997            14
2012            14
2002            13
2007            12
2020            12
2009            12
1976            11
1998            11
2006            10
2013            10
2011            10
2000             9
2010             9
1999             9
2014             8
2001             8
1995             7
1994             7
1985             7
2005             7
2004             6
1982             5
1984             5
2003             5
2025             5
1989             5
1988             4
1980             3
1981             3
1993             3
1986             3
1983             3
1992             3
1972             2
1965             2
1969             2
1970             2
1987             2
1975             2
1973             2
1979             2
1996             2
1991             1
1978             1
1964             1
1974             1

## Q2. [Macro] Indexes YTD (as of 1 May 2025)

How many indexes (out of 10) have better year-to-date returns than the US (S&P 500) as of May 1, 2025?

Using Yahoo Finance World Indices data, compare the year-to-date (YTD) performance (1 January-1 May 2025) of major stock market indexes for the following countries:

- United States - S&P 500 (^GSPC)
- China - Shanghai Composite (000001.SS)
- Hong Kong - HANG SENG INDEX (^HSI)
- Australia - S&P/ASX 200 (^AXJO)
- India - Nifty 50 (^NSEI)
- Canada - S&P/TSX Composite (^GSPTSE)
- Germany - DAX (^GDAXI)
- United Kingdom - FTSE 100 (^FTSE)
- Japan - Nikkei 225 (^N225)
- Mexico - IPC Mexico (^MXX)
- Brazil - Ibovespa (^BVSP)

In [ ]:
index_tickers = ["^GSPC", "000001.SS", "^HSI", "^AXJO", "^NSEI", "^GSPTSE", "^GDAXI", "^FTSE", "^N225", "^MXX", "^BVSP"]
index_data = yf.download(index_tickers, start="2025-01-01", end="2025-05-01")
index_data

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  11 of 11 completed

Price             Close                                                    \
Ticker        000001.SS        ^AXJO     ^BVSP        ^FTSE        ^GDAXI
Date
2025-01-01          NaN          NaN       NaN          NaN           NaN
2025-01-02  3262.561035  8201.200195  120125.0  8260.099609  20024.660156
2025-01-03  3211.429932  8250.500000  118533.0  8224.000000  19906.080078
2025-01-06  3206.923096  8288.500000  120022.0  8249.700195  20216.189453
2025-01-07  3229.644043  8285.099609  121163.0  8245.299805  20340.570312
...                 ...          ...       ...          ...           ...
2025-04-24  3297.288086  7968.200195  134580.0  8407.400391  22064.509766
2025-04-25  3295.060059          NaN  134739.0  8415.299805  22242.449219
2025-04-28  3288.415039  7997.100098  135016.0  8417.299805  22271.669922
2025-04-29  3286.655029  8070.600098  135093.0  8463.500000  22425.830078
2025-04-30  3279.031006  8126.200195  135067.0  8494.900391  22496.980469

Price                                                              \
Ticker            ^GSPC       ^GSPTSE          ^HSI          ^MXX
Date
2025-01-01          NaN           NaN           NaN           NaN
2025-01-02  5868.549805  24898.000000  19623.320312  49765.199219
2025-01-03  5942.470215  25073.500000  19760.269531  48957.238281
2025-01-06  5975.379883  24999.800781  19688.289062  49493.558594
2025-01-07  5909.029785  24929.900391  19447.580078  50085.500000
...                 ...           ...           ...           ...
2025-04-24  5484.770020  24727.500000  21909.759766  56382.000000
2025-04-25  5525.209961  24710.500000  21980.740234  56720.121094
2025-04-28  5528.750000  24798.599609  21971.960938  56980.128906
2025-04-29  5560.830078  24874.500000  22008.109375  55613.429688
2025-04-30  5569.060059  24841.699219  22119.410156  56259.281250

Price                     ...    Volume                                        \
Ticker             ^N225  ...     ^AXJO       ^BVSP         ^FTSE      ^GDAXI
Date                      ...
2025-01-01           NaN  ...       NaN         NaN           NaN         NaN
2025-01-02           NaN  ...  304400.0   9373600.0  4.222199e+08  52445600.0
2025-01-03           NaN  ...  329100.0   9804400.0  7.425039e+08  44372900.0
2025-01-06  39307.050781  ...   52200.0   9685600.0  7.662447e+08  70784900.0
2025-01-07  40083.300781  ...  424300.0  11116400.0  7.415068e+08  62020000.0
...                  ...  ...       ...         ...           ...         ...
2025-04-24  35039.148438  ...  639100.0  14113400.0  1.126606e+09  62636800.0
2025-04-25  35705.738281  ...       NaN  13051800.0  8.027340e+08  70917400.0
2025-04-28  35839.988281  ...  769000.0  11449700.0  7.387417e+08  55883200.0
2025-04-29           NaN  ...  710800.0  12761100.0  6.559248e+08  75547100.0
2025-04-30  36045.378906  ...  889500.0  15452400.0  1.589592e+09  99189800.0

Price                                                                          \
Ticker             ^GSPC      ^GSPTSE          ^HSI         ^MXX        ^N225
Date
2025-01-01           NaN          NaN           NaN          NaN          NaN
2025-01-02  3.621680e+09  215089400.0  4.033400e+09   87535300.0          NaN
2025-01-03  3.667340e+09  186569100.0  3.393800e+09  112782300.0          NaN
2025-01-06  4.940120e+09  239976800.0  2.465700e+09  139872100.0  137900000.0
2025-01-07  4.517330e+09  237759800.0  3.581000e+09  142173400.0  127000000.0
...                  ...          ...           ...          ...          ...
2025-04-24  4.697710e+09  224419200.0  2.985800e+09  249950000.0  137100000.0
2025-04-25  4.236580e+09  214234300.0  3.025700e+09  217532100.0  134700000.0
2025-04-28  4.257880e+09  224287200.0  2.466000e+09  193000200.0  132400000.0
2025-04-29  4.747150e+09  199905200.0  3.045200e+09  240938000.0          NaN
2025-04-30  5.449490e+09  271264200.0  4.682300e+09  226957400.0  167100000.0

Price
Ticker         ^NSEI
Date
2025-01-01  154900.0
2025-01-02  283200.0
2025-01-03  312300.0
2025-01-06  278100.0
2025-01-07  262300.0
...              ...
2025-04-24  358800.0
2025-04-25  387700.0
2025-04-28  320500.0
2025-04-29  357600.0
2025-04-30  424500.0

[86 rows x 55 columns]

In [ ]:
start_prices = index_data.filter(like="Close").bfill().iloc[0]
end_prices = index_data.filter(like="Close").iloc[-1]

In [ ]:
start_prices

Price  Ticker
Close  000001.SS      3262.561035
       ^AXJO          8201.200195
       ^BVSP        120125.000000
       ^FTSE          8260.099609
       ^GDAXI        20024.660156
       ^GSPC          5868.549805
       ^GSPTSE       24898.000000
       ^HSI          19623.320312
       ^MXX          49765.199219
       ^N225         39307.050781
       ^NSEI         23742.900391
Name: 2025-01-01 00:00:00, dtype: float64

In [ ]:
end_prices

Price  Ticker
Close  000001.SS      3279.031006
       ^AXJO          8126.200195
       ^BVSP        135067.000000
       ^FTSE          8494.900391
       ^GDAXI        22496.980469
       ^GSPC          5569.060059
       ^GSPTSE       24841.699219
       ^HSI          22119.410156
       ^MXX          56259.281250
       ^N225         36045.378906
       ^NSEI         24334.199219
Name: 2025-04-30 00:00:00, dtype: float64

In [ ]:
((end_prices / start_prices) - 1).sort_values()

Price  Ticker
Close  ^N225       -0.082979
       ^GSPC       -0.051033
       ^AXJO       -0.009145
       ^GSPTSE     -0.002261
       000001.SS    0.005048
       ^NSEI        0.024904
       ^FTSE        0.028426
       ^GDAXI       0.123464
       ^BVSP        0.124387
       ^HSI         0.127200
       ^MXX         0.130494
dtype: float64

## Q3. [Index] S&P 500 Market Corrections Analysis

Calculate the median duration (in days) of significant market corrections in the S&P 500 index.

For this task, define a correction as an event when a stock index goes down by more than 5% from the closest all-time high maximum.

- Download S&P 500 historical data (1950-present) using yfinance
- Identify all-time high points (where price exceeds all previous prices)
- For each pair of consecutive all-time highs, find the minimum price in between
- Calculate drawdown percentages: (high - low) / high Ã— 100
- Filter for corrections with at least 5% drawdown
- Calculate the duration in days for each correction period
- Determine the 25th, 50th (median), and 75th percentiles for correction durations

In [9]:
sp500_history = yf.download("^GSPC", start="1950-01-01")
sp500_history

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open      Volume
Ticker            ^GSPC        ^GSPC        ^GSPC        ^GSPC       ^GSPC
Date
1950-01-03    16.660000    16.660000    16.660000    16.660000     1260000
1950-01-04    16.850000    16.850000    16.850000    16.850000     1890000
1950-01-05    16.930000    16.930000    16.930000    16.930000     2550000
1950-01-06    16.980000    16.980000    16.980000    16.980000     2010000
1950-01-09    17.080000    17.080000    17.080000    17.080000     2520000
...                 ...          ...          ...          ...         ...
2025-05-28  5888.549805  5939.919922  5881.879883  5925.540039  4665050000
2025-05-29  5912.169922  5943.129883  5873.799805  5939.959961  4569750000
2025-05-30  5911.689941  5922.140137  5843.660156  5903.669922  6378540000
2025-06-02  5935.939941  5937.399902  5861.430176  5896.680176  4832240000
2025-06-03  5970.370117  5981.350098  5929.000000  5938.560059  5026680000

[18975 rows x 5 columns]

In [10]:
sp500 = sp500_history["Close"].reset_index()
sp500.columns = ["Date", "Close"]
sp500

            Date        Close
0     1950-01-03    16.660000
1     1950-01-04    16.850000
2     1950-01-05    16.930000
3     1950-01-06    16.980000
4     1950-01-09    17.080000
...          ...          ...
18970 2025-05-28  5888.549805
18971 2025-05-29  5912.169922
18972 2025-05-30  5911.689941
18973 2025-06-02  5935.939941
18974 2025-06-03  5970.370117

[18975 rows x 2 columns]

In [11]:
# Find out the all time high price as of each day
sp500["RollingMax"] = sp500["Close"].cummax()
sp500["IsCloseAllTimeHigh"] = sp500["Close"] > sp500["RollingMax"].shift(1)
sp500

            Date        Close   RollingMax  IsCloseAllTimeHigh
0     1950-01-03    16.660000    16.660000               False
1     1950-01-04    16.850000    16.850000                True
2     1950-01-05    16.930000    16.930000                True
3     1950-01-06    16.980000    16.980000                True
4     1950-01-09    17.080000    17.080000                True
...          ...          ...          ...                 ...
18970 2025-05-28  5888.549805  6144.149902               False
18971 2025-05-29  5912.169922  6144.149902               False
18972 2025-05-30  5911.689941  6144.149902               False
18973 2025-06-02  5935.939941  6144.149902               False
18974 2025-06-03  5970.370117  6144.149902               False

[18975 rows x 4 columns]

In [12]:
sp500_all_time_highs = sp500[sp500["IsCloseAllTimeHigh"]][["Date", "Close"]]
sp500_all_time_highs

            Date        Close
1     1950-01-04    16.850000
2     1950-01-05    16.930000
3     1950-01-06    16.980000
4     1950-01-09    17.080000
6     1950-01-11    17.090000
...          ...          ...
18852 2024-12-04  6086.490234
18854 2024-12-06  6090.270020
18884 2025-01-23  6118.709961
18901 2025-02-18  6129.580078
18902 2025-02-19  6144.149902

[1446 rows x 2 columns]

In [14]:
# Find minimum prices between all-time high dates
min_prices = []
min_duration = timedelta(days=2)

for i in range(len(sp500_all_time_highs) - 1):
    start_date = sp500_all_time_highs["Date"].iloc[i]
    end_date = sp500_all_time_highs["Date"].iloc[i + 1]

    if end_date - start_date < min_duration:
        continue

    # Filter data between two all-time high dates
    min_price = sp500[(sp500["Date"] > start_date) & (sp500["Date"] < end_date)]['Close'].min()

    min_prices.append({
        "Start_Date": start_date,
        "End_Date": end_date,
        "Min_Price": min_price
    })

min_prices = pd.DataFrame(min_prices)
min_prices

    Start_Date   End_Date    Min_Price
0   1950-01-06 1950-01-09          NaN
1   1950-01-09 1950-01-11    17.030001
2   1950-01-11 1950-02-02    16.670000
3   1950-02-03 1950-02-06          NaN
4   1950-02-06 1950-03-15    16.990000
..         ...        ...          ...
855 2024-11-26 2024-11-29  5998.740234
856 2024-11-29 2024-12-02          NaN
857 2024-12-04 2024-12-06  6075.109863
858 2024-12-06 2025-01-23  5827.040039
859 2025-01-23 2025-02-18  5994.569824

[860 rows x 3 columns]

In [ ]:
# Use derivative to find maxima and minima
#maxima = (sp500["Close"].shift(1) < sp500["Close"]) & (sp500["Close"].shift(-1) < sp500["Close"])
#minima = (sp500["Close"].shift(1) > sp500["Close"]) & (sp500["Close"].shift(-1) > sp500["Close"])

In [15]:
min_prices = min_prices.dropna()
min_prices

    Start_Date   End_Date    Min_Price
1   1950-01-09 1950-01-11    17.030001
2   1950-01-11 1950-02-02    16.670000
4   1950-02-06 1950-03-15    16.990000
5   1950-03-16 1950-03-22    17.440001
6   1950-03-23 1950-04-05    17.290001
..         ...        ...          ...
854 2024-11-11 2024-11-26  5870.620117
855 2024-11-26 2024-11-29  5998.740234
857 2024-12-04 2024-12-06  6075.109863
858 2024-12-06 2025-01-23  5827.040039
859 2025-01-23 2025-02-18  5994.569824

[657 rows x 3 columns]

## Q4. [Stocks] Earnings Surprise Analysis for Amazon (AMZN)

Calculate the median 2-day percentage change in stock prices following positive earnings surprises days.

Steps:

1. Load earnings data from CSV (ha1_Amazon.csv) containing earnings dates, EPS estimates, and actual EPS. Make sure you are using the correct delimiter to read the data, such as in this command python pandas.read_csv("ha1_Amazon.csv", delimiter=';') 
2. Download complete historical price data using yfinance
3. Calculate 2-day percentage changes for all historical dates: for each sequence of 3 consecutive trading days (Day 1, Day 2, Day 3), compute the return as Close_Day3 / Close_Day1 - 1. (Assume Day 2 may correspond to the earnings announcement.)
4. Identify positive earnings surprises (where "actual EPS > estimated EPS" OR "Surprise (%)>0")
5. Calculate 2-day percentage changes following positive earnings surprises. Show your answer in % (closest number to the 2nd digit): return * 100.0
6. (Optional) Compare the median 2-day percentage change for positive surprises vs. all historical dates. Do you see the difference?

Context: Earnings announcements, especially when they exceed analyst expectations, can significantly impact stock prices in the short term.

In [27]:
# amazon_earnings_data_url = "https://raw.githubusercontent.com/DataTalksClub/stock-markets-analytics-zoomcamp/refs/heads/main/cohorts/2025/ha1_Amazon.csv"
# amazon_earnings = pd.read_csv(amazon_earnings_data_url, delimiter=";")

amazon_earnings = pd.read_csv("homework_data/ha1_Amazon.csv", delimiter=";", na_values="-")
amazon_earnings

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise (%)
0,AMZN,Amazon.com Inc,"April 29, 2026 at 6 AM EDT",NaN,NaN,NaN
1,AMZN,Amazon.com Inc,"February 4, 2026 at 4 PM EST",NaN,NaN,NaN
2,AMZN,Amazon.com Inc,"October 29, 2025 at 6 AM EDT",NaN,NaN,NaN
3,AMZN,Amazon.com Inc,"July 30, 2025 at 4 PM EDT",NaN,NaN,NaN
4,AMZN,"Amazon.com, Inc.","May 1, 2025 at 4 PM EDT",1.36,1.59,16.74
...,...,...,...,...,...,...
112,AMZN,"Amazon.com, Inc.","April 27, 1998 at 12 AM EDT",NaN,NaN,13.92
113,AMZN,"Amazon.com, Inc.","January 22, 1998 at 12 AM EST",NaN,NaN,11.41
114,AMZN,"Amazon.com, Inc.","October 27, 1997 at 12 AM EST",NaN,NaN,13.29
115,AMZN,"Amazon.com, Inc.","July 10, 1997 at 12 AM EDT",NaN,NaN,13.33
116,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
amazon_price = yf.download("AMZN")
amazon_price

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open      Volume
Ticker            AMZN        AMZN        AMZN        AMZN        AMZN
Date
1997-05-15    0.097917    0.125000    0.096354    0.121875  1443120000
1997-05-16    0.086458    0.098958    0.085417    0.098438   294000000
1997-05-19    0.085417    0.088542    0.081250    0.088021   122136000
1997-05-20    0.081771    0.087500    0.081771    0.086458   109344000
1997-05-21    0.071354    0.082292    0.068750    0.081771   377064000
...                ...         ...         ...         ...         ...
2025-05-23  200.990005  202.369995  197.850006  198.899994    33393500
2025-05-27  206.020004  206.690002  202.190002  203.089996    34892000
2025-05-28  204.720001  207.660004  204.410004  205.919998    28549800
2025-05-29  205.699997  208.809998  204.229996  208.029999    34650000
2025-05-30  205.009995  205.990005  201.699997  204.839996    51649600

[7055 rows x 5 columns]

In [29]:
amazon_price.columns = amazon_price.columns.droplevel(1)

In [30]:
# 2-day percentage return = Day 3 close - Day 1 close
amazon_price["Return2D"] = amazon_price["Close"].diff(periods=2) / amazon_price["Close"]
amazon_price

Price,Close,High,Low,Open,Volume,Return2D
Date,,,,,,
1997-05-15,0.097917,0.125000,0.096354,0.121875,1443120000,NaN
1997-05-16,0.086458,0.098958,0.085417,0.098438,294000000,NaN
1997-05-19,0.085417,0.088542,0.081250,0.088021,122136000,-0.146341
1997-05-20,0.081771,0.087500,0.081771,0.086458,109344000,-0.057319
1997-05-21,0.071354,0.082292,0.068750,0.081771,377064000,-0.197088
...,...,...,...,...,...,...
2025-05-23,200.990005,202.369995,197.850006,198.899994,33393500,-0.000647
2025-05-27,206.020004,206.690002,202.190002,203.089996,34892000,0.014173
2025-05-28,204.720001,207.660004,204.410004,205.919998,28549800,0.018220
2025-05-29,205.699997,208.809998,204.229996,208.029999,34650000,-0.001556
2025-05-30,205.009995,205.990005,201.699997,204.839996,51649600,0.001415

In [37]:
# Positive earnings surprises (where "actual EPS > estimated EPS" OR "Surprise (%)>0")
positive_surprises = (amazon_earnings["Reported EPS"] > amazon_earnings["EPS Estimate"]) | (amazon_earnings["Surprise (%)"] > 0)
positive_surprise_dates = amazon_earnings[positive_surprises]["Earnings Date"]
positive_surprise_dates

4            May 1, 2025 at 4 PM EDT
5       February 6, 2025 at 4 PM EST
6       October 31, 2024 at 4 PM EDT
7         August 1, 2024 at 4 PM EDT
8         April 30, 2024 at 4 PM EDT
                   ...
111       July 22, 1998 at 12 AM EDT
112      April 27, 1998 at 12 AM EDT
113    January 22, 1998 at 12 AM EST
114    October 27, 1997 at 12 AM EST
115       July 10, 1997 at 12 AM EDT
Name: Earnings Date, Length: 86, dtype: object

In [50]:
# pd.to_datetime(positive_surprise_dates, format="%B %d, %Y at %I %p %Z")
positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date

/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "May 1, 2025 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "February 6, 2025 at 4 PM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "October 31, 2024 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "August 1, 2024 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "April 30, 2024 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "February 1, 2024 at 4 PM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "October 26, 2023 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "August 3, 2023 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "April 27, 2023 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "February 2, 2023 at 4 PM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "July 28, 2022 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "February 3, 2022 at 4 PM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "July 29, 2021 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "April 29, 2021 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "February 2, 2021 at 4 PM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "October 29, 2020 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "July 30, 2020 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "January 30, 2020 at 4 PM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "April 25, 2019 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "January 31, 2019 at 4 PM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "October 25, 2018 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "July 26, 2018 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "April 26, 2018 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "February 1, 2018 at 4 PM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "October 26, 2017 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "April 27, 2017 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "February 2, 2017 at 4 PM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "July 28, 2016 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "April 28, 2016 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "October 22, 2015 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "July 23, 2015 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "April 23, 2015 at 4 PM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "January 29, 2015 at 4 PM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "April 24, 2014 at 12 AM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "April 25, 2013 at 12 AM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "July 26, 2012 at 12 AM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "April 26, 2012 at 12 AM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "January 31, 2012 at 12 AM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "July 26, 2011 at 12 AM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "January 27, 2011 at 12 AM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "October 21, 2010 at 12 AM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "April 22, 2010 at 12 AM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "January 28, 2010 at 12 AM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "October 22, 2009 at 12 AM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "July 23, 2009 at 12 AM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "April 23, 2009 at 12 AM EDT" included an un-recognized timezone "EDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date
/tmp/ipykernel_7478/308410842.py:2: FutureWarning: Parsed string "January 29, 2009 at 12 AM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  positive_surprise_dates_parsed = pd.to_datetime(positive_surprise_dates, format="mixed").dt.date

In [ ]:
return_after_positive_surprise = amazon_price.loc[positive_surprise_dates_parsed + timedelta(days=1)]["Return2D"] * 100.0
return_after_positive_surprise

Date
2025-05-02     2.926623
2025-02-07    -3.063497
2024-11-01     2.627190
2024-08-02   -11.363909
2024-05-01    -1.094976
                ...
1998-07-23    -3.476963
1998-04-28    11.241899
1998-01-23    -2.742677
1997-10-28    -1.578844
1997-07-11    -1.364075
Name: Return2D, Length: 86, dtype: float64

In [58]:
return_after_positive_surprise.median()

np.float64(1.0293952264550081)